/* Master style */
body {
font-family: "Lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav style */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-side {
    display: flex;
}

.right-side {
    display: flex;
    font-size: 0.9em;
}

@media screen and (max-width: 480px) {
    .right-side {
        display: flex;
        font-size: 0.7em;
    }
}

/* traversing through classes */
.nav-wrapper > .left-side > div {
    margin-right: 24px;
    font-size: 0.em;
    text-transform: none;
}

.nav-link-wrapper {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;    
    
}

@media screen and (max-width: 480px) {
    .nav-wrapper > .left-side > div {
        margin-right: 24px;
        font-size: 0.7em;
        text-transform: uppercase;
    }
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid gray;
}

.nav-link-wrapper a:hover {
    color: black
}

/* portfolio style */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 480px) {
    .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }     
}


.portfolio-item-wrapper {
    position: relative;
    
}

.portfolio-image-background {
    height: 69vh;
    max-width: 100%;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
    .portfolio-image-background {
        height: 69vw;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


.image-text-wrapper {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
 .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
    
}

.image-text-wrapper {     
    color: transparent;      
    align-items: center;
}
@media screen and (max-width: 480px) {
    .image-text-wrapper {     
        color: transparent;
        margin-left: 7%;      
        
    }
}

.image-text-wrapper .subtitle {   
    text-decoration: none;
    font-size: 1.6vw; 
    margin-bottom: 0%;   
}

.image-text-wrapper .subtitle-link {   
    text-decoration: none;
    font-size: 1.8vw; 
    color: transparent;
    margin-top: 3%;
}

@media screen and (max-width: 480px) {
    .image-text-wrapper .subtitle {   
        text-decoration: none;
        font-size: 2vh; 
        margin-bottom: 3%;   
    }
}

@media screen and (max-width: 480px) {
    .image-text-wrapper .subtitle-link {   
        text-decoration: none;
        font-size: 2.5vh;               
    }
}

.portfolio-item-wrapper:hover .subtitle {
    transition: 1s;
    font: weight 1px;
    color: lightseagreen;
}

.portfolio-item-wrapper:hover .subtitle-link {
    transition: 1s;
    font: weight 1px;
    color: lightseagreen;
    padding-bottom: 5px;
    border-bottom: 1.5px solid darkslategray;    
}

.img-darken {
    transition: 1s;
    filter: brightness(20%);
}

  /*  About profile text */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 480px) {
    .two-column-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.profile-image-wrapper img {
    width: 90%;
    height:80%;
}

@media screen and (max-width: 480px) {
    .profile-image-wrapper img {
        width: 80%;        
        margin-left: 7%;
    }
}

.profile-content-wrapper {      
    padding: 0px 20px;
}
  .profile-content-wrapper h2 {
    color: limegreen;        
}

@media screen and (max-width: 480px) {
    .profile-content-wrapper h2 {
        color: limegreen; 
        font-size: 0.9em;       
    }
}

@media screen and (max-width: 480px) {
    .profile-content-wrapper p {        
        font-size: 0.7em;       
    }
}

.footer {
    color: grey;
    font-size: 2vh;
    position:relative;
    margin-top: 6vh;        
    text-align: center;
    padding-bottom: 15px;  
}
@media screen and (max-width: 480px) {
    .footer {
        color: grey;
        font-size: 1.3vh;
        position:relative;
        margin-top: 8vh;
        padding-bottom: 8px;       
        text-align: center;   
    }
}
/* social media styling */
.fa {
    padding: 20px;
    font-size: 3.5vh;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  @media screen and (max-width: 480px) {
    .fa {
        padding: 1.5%;
        font-size: 2.6vh;
        width: 50px;
        text-align: center;
        text-decoration: none;
      } 
  }

  .fa:hover {
    opacity: 0.7;
    transition: 0.5s ease-in;
  }

  .social-links-wrapper {      
      text-align: center;
      margin-top: 3%;
  }
  
 
